<html lang="en">
<head></head>
<body>
 <div id="div">
    <p>{ 
    <b>ipaddress:</b> <%= ip %>,  
    <b>software:</b> <%= software %>,  
    <b>language:</b> <%= lang %> }</p> 
  </div> 

</body>
</html>
