<html>
<head></head>
<body>

<form action="/api/shorten" method="POST">
  <label for="original">Original URL:</label>
  <input type="text" id="original" name="original"><br><br>
  <label for="short">Short URL:</label>
  <input type="text" id="short" name="short"><br><br>
  <input type="submit" value="Submit">
</form> 

</body>
</html>
