<html>
<head></head>
<body>
  <h1><%= title %></h1>

  <form action="/api/exercise/add" method="POST"> 
    <label for="userId">User ID:</label>
    <input type="text" id="userId" name="userId"><br><br>
    <label for="description">Description:</label>
    <input type="text" id="description" name="description"><br><br>
    <label for="duration">Duration:</label>
    <input type="number" id="duration" name="duration"><br><br>
    <label for="date">Date:</label>
    <input type="text" id="date" name="date"><br><br>
    <input type="submit" value="Submit">
  </form><br><br>

  
  
</body>
</html>
