<html>
<head></head>
<body>
  <h1><%= title %></h1>

  <ul>
    <li><h3><a href="/api/exercise/add_exercise">Add an Exercise</a></h3></li>
    <li><h3><a href="/api/exercise/logout">Log Out</a></h3></li>
  </ul>

  
</body>
</html>
