<html>
<head></head>
<body>
  <h1><%= title %></h1>

  <form action="/api/exercise/addAccount" method="POST">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username"><br><br>
    <label for="password">Password:</label>
    <input type="text" id="password" name="password"><br><br>
    <label for="question">Secret Question:</label>
    <input type="text" id="question" name="question"><br><br>
    <input type="submit" value="Submit">
  </form><br><br>

</body>
</html>
